services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./api
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./api:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      PORT: 8080
      DATABASE_URL: postgres://postgres:password@db:5432/ecommerce?schema=public
      CLIENT_URL: http://localhost:3000
      IYZICO_API_KEY: "sandbox-QkxJQlWLVMofySQoG6ZpyYHFVI7coBrB"
      IYZICO_SECRET_KEY: "sandbox-OOASFgPfXr8YDm9BVuqCFcXMo61ZynIB"
      IYZICO_BASE_URL: "https://sandbox-api.iyzipay.com"
      BREVO_API_KEY: "dummy"
      SMTP_HOST: smtp-relay.brevo.com
      SMTP_PORT: 587
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
    depends_on:
      db:
        condition: service_healthy

  admin:
    build: ./admin
    restart: always
    ports:
      - "8081:8081"
    volumes:
      - ./admin:/app
      - admin_node_modules:/app/node_modules
    environment:
      NODE_ENV: development
      PORT: 8081
      DATABASE_URL: postgres://postgres:password@db:5432/ecommerce?schema=public
      SESSION_SECRET: "supersecret"
      COOKIE_PASSWORD: "securecookiepassword1234567890123"
      ADMIN_EMAIL: "admin@siten.com"
      ADMIN_PASSWORD: "Admin123!"
      # R2 Storage
      R2_ENDPOINT: ${R2_ENDPOINT}
      R2_ACCESS_KEY: ${R2_ACCESS_KEY}
      R2_SECRET_KEY: ${R2_SECRET_KEY}
      R2_BUCKET_NAME: ${R2_BUCKET_NAME}
      CDN_URL: ${CDN_URL}
    depends_on:
      db:
        condition: service_healthy

  client:
    build: ./client
    restart: always
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:8080/api/v1
    depends_on:
      - api

volumes:
  postgres_data:
  admin_node_modules:
